.hero {
  @include flex;
  height: 500px;
  background: url(http://getcursive.com/img/girl.jpg) center center no-repeat;
  background-size: cover;

  &__title {

    margin-top: auto;
    margin-bottom: auto;

    span {
      font-size: 50px;
      line-height: 1.4;
      display: inline-block;
      background: rgba(255,255,255,.2);
      padding: 0 20px;
      padding-left: 20px;
    }
  }
}