nav {
 background: rgba(36, 131, 158,.9);
 position: fixed;
 top: 0;
 right: 0;
 left: 0;
 color: #eee;
 line-height: 1;

 ul {
  @include flex;
  @include align-items--center;
  padding-top: 11px;
  padding-bottom: 15px;
 }

 li {
  margin-left: 20px;
 }

 .logo {
  font-weight: bold;
  font-size: 30px;
  margin-left: 0;
 }
}